<%- include('../partials/header')%>
<body class="container-fluid">

<div class="flight">
    <h4>Airline: <div class="info"><%= flight.airline %></div></h4>
    <h4>Departs From: <div class="info"><%= flight.airport%></div></h4>
    <h4>Flight No: <div class="info"><%= flight.flightNo %></div></h4>
    <h4>Depature Time: <div class="info"><%= flight.departs %></div></h4>
</div>

<h3 class="sectiontitle">Destinations:</h3>
<table class="table">
    <thead>
        <tr>
            <th>Airport&nbsp;</th>
            <th>Arrival Time&nbsp;</th>
            <th>Delete&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <% flight.destinations.forEach(function(dest){ %>
            <tr>
                <td><%= dest.airport %> </td>
                <td><%= dest.arrival %> </td>
                <td>
                    <form action="/destinations/<%= dest._id %>/<%= flight._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete" class="btn btn-outline-danger">
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<h4 class="sectiontitle">Add Destination:</h4>
<form action="/flights/<%= flight._id %>/destinations" method="POST">
    <div class="form-group">
    <label>Airport</label>
        <select name="airport" class="form-control">
            <option value="AUS" selected>AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select><br>
    </div>
    <div class="form-group">
        <label>Arrival Time</label>
        <input type="datetime-local" name="arrival" class="form-control"><br>
    </div>
    <input type="submit" value="Add Destination" class="btn btn-outline-primary">
</form>

<h3 class="sectiontitle">Tickets: </h3>
<table class="table">
    <thead>
        <tr>
            <th>Seat&nbsp;</th>
            <th>Price&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <% tickets.forEach(function(ticket){ %>
            <tr>
                <td><%= ticket.seat %> </td>
                <td>$<%= ticket.price %> </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<form action="/flights/<%= flight._id %>/tickets/new" method="GET">
    <input type="submit" value="Add Ticket" class="btn btn-outline-primary"">
</form>

</body>