<%- include('../partials/header')%>

<h3>Airline: <%= flight.airline %></h3>
<h3>Departs From: <%= flight.airport%></h3>
<h3>Flight No: <%= flight.flightNo %></h3>
<h3>Depature Time: <%= flight.departs %></h3>


<h3>Destinations: </h3>
<table>
    <thead>
        <tr>
            <th>Airport&nbsp;</th>
            <th>Arrival Time&nbsp;</th>
            <th>Delete&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <% flight.destinations.forEach(function(dest){ %>
            <tr>
                <td><%= dest.airport %> </td>
                <td><%= dest.arrival %> </td>
                <td>
                    <form action="/destinations/<%= dest._id %>/<%= flight._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>




<h3>Add Destination:</h3>
<form action="/flights/<%= flight._id %>/destinations" method="POST">
    <label>Airport</label>
    <select name="airport">
        <option value="AUS" selected>AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select><br>
    <label>Arrival Time</label>
    <input type="datetime-local" name="arrival"><br>
    <input type="submit" value="Add Details">
</form>

<a href="/flights">Return To Manifest</a>

<h3>Tickets: </h3>
<table>
    <thead>
        <tr>
            <th>Seat&nbsp;</th>
            <th>Price&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <% tickets.forEach(function(ticket){ %>
            <tr>
                <td><%= ticket.seat %> </td>
                <td><%= ticket.price %> </td>
            </tr>
        <% }) %>
    </tbody>
</table>



<form action="/flights/<%= flight._id %>/tickets/new" method="GET">
    <input type="submit" value="Add A Ticket">
</form>